*{
    background-color: lightyellow;
  }
  footer {
    text-align: center;
    background-color: DarkSalmon;
    color: white;

    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
  }
  .unitprice{
    width:100px;
    background-color: lightyellow;
    border-radius: 20px;
  }
  .quantity{
    width:100px;
    background-color: lightyellow;
    border-radius: 20px;
  }
  .productsname{
    width:100px;
    border-radius: 20px;;
    
    background-color: lightyellow;
    
  }
  .productsname1{
    width:92px;
    height: 14px;
    
    background-color: lightyellow;
    border-radius: 20px;
  }
.tableu{
  width:750px;

  }
.productsname{
  height: 50px;
  width: 100px;
}
.unitprice{
  height: 45px;
  width: 70px;
}
.quantity{
  height: 45px;
  width: 50px;
}
.productsname1{
  height: 45px;
  width: 95px;
}
.caluclate{
  height:50px;
  width : 100px;
  border-radius: 50px;
}